/* CSS DOCUMENT */
@charset "UTF-8";

/*configuraciones generales*/

@font-face {
    font-family: "Comic Sans";
    src: url(fuentes/comic.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Comic Sans Bold";
    src: url(fuentes/comicbd.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Comic Sans Italic";
    src: url(fuentes/comici.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Comic Sans Bold Italic";
    src: url(fuentes/comicz.ttf) format(truetype);
    font-weight: bold;
    font-style: italic;
}

* {
    font-family: "Public Sans", sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c3e6e2;
}

header,
footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: black;
}

nav {
    display: flex;
    gap: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    max-width: 1200px;
}

/*aca empiezan las aplicaciones*/

h1,
h2,
h3 {
    font-family: 'Comic Sans', sans-serif;
    color: #2e2b25;

}

h1,
h2 {
    text-align: left;
    color: unset;
}

h1 {
    font-size: 3.2rem;
    /*line-height: 1rem;*/
}

h2 {
    font-size: 2rem;
}

h3 {
    color: rgb(232, 78, 78);
}

p {
    line-height: 1.8rem;
    max-width: 800px;
}

#hero {
    background-image: url(img/banner-hero-cara-darín.webp);
    background-size: cover;
    background-position: center;
    height: 70vh;
    padding: 30px;
    border-top-width: 30px;
    border-bottom-width: 30px;
    border-left-width: 0;
    border-right-width: 0;
    border-color: #3F51B5;
    border-style: solid;
    text-shadow: 0px 0px 20px black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


#bienvenida {
    background-image: url(img/snow-pattern.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    gap: 20px;
}

#tarjetas {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
    flex-direction: row;
}

.galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

blockquote {
    font-size: 3rem;
    background: linear-gradient(45deg, #00BCD4, #FF5722);
    padding: 20px;
    min-height: 20vh;
    line-height: 3rem;
    width: 100vw;
    max-width: 800px;
    margin: 30px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        line-height: 3.5rem;
        text-align: center;
        text-wrap: balance;
    }
}

.composicion-parrafos {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 420px;
}

.bibliografia {
    padding: 40px;
    border: #007888 2px solid;
    margin: 40px 0 20px 0;
    border-radius: 17px;
    corner-shape: scoop;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #007888;
}

#el-autor,
#el-comic,
#netflix {
    article {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 30px;
        flex-wrap: wrap;
    }
}

#el-comic article img {
    mix-blend-mode: multiply
}

#netflix .galeria {
    max-width: 1200px;
}

footer {
    color: white;

    ul {
        display: flex;
        gap: 20px;

        li {
            display: flex;
            align-items: center;
        }
    }
}