/* CSS DOCUMENT */
@charset "UTF-8";

/*configuraciones generales*/

@font-face {
    font-family: "Comic Sans";
    src: url(fuentes/comic.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Comic Sans Bold";
    src: url(fuentes/comicbd.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Comic Sans Italic";
    src: url(fuentes/comici.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Comic Sans Bold Italic";
    src: url(fuentes/comicz.ttf) format(truetype);
    font-weight: bold;
    font-style: italic;
}

* {
    font-family: "Public Sans", sans-serif;
    text-align: center;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c3e6e2;
}

/*aca empiezan las aplicaciones*/

h1,
h2,
h3 {
    font-family: 'Comic Sans', sans-serif;
    color: #2e2b25;

}

h1,
h2 {
    text-align: left;
    color: #fbf5e7;
}

h1 {
    font-size: 3.2rem;
    /*line-height: 1rem;*/
}

h2 {
    font-size: 2rem;
}

h3 {
    color: rgb(232, 78, 78);
}

p {
    text-wrap-style: balance;
    text-align: center;
    line-height: 1.8rem;
}

#hero {
    background-image: url(img/banner-hero-cara-darín.webp);
    background-size: cover;
    background-position: center;
    height: 70vh;
    padding: 30px;
    margin: 20px 0;
    border-top-width: 30px;
    border-bottom-width: 30px;
    border-left-width: 0;
    border-right-width: 0;
    border-color: #3F51B5;
    border-style: solid;
}


#bienvenida {
    background-image: url(img/snow-pattern.png);
}

#frase {
    font-size: 3rem;
    background: linear-gradient(45deg, #00BCD4, #FF5722);
    padding: 20px;
    min-height: 20vh;
    line-height: 3rem;
    max-width: 800px;
    margin: 30px 0;
    border-radius: 10px;

    p {
        line-height: 3.5rem;
    }
}
